$justify-content-type-regular: (center, stretch, baseline, normal);
@each $token-name in $justify-content-type-regular {
  .justify\:#{$token-name} {
    justify-content: $token-name !important;
  }
}

$justify-content-type--flex: (start, end);
@each $token-name in $justify-content-type--flex {
  .justify\:#{$token-name} {
    justify-content: flex-#{$token-name} !important;
  }
}

$justify-content-type--space: (between, around, evenly);
@each $token-name in $justify-content-type--space {
  .justify\:#{$token-name} {
    justify-content: space-#{$token-name} !important;
  }
}
