.hdivider, .vdivider {
  --divider__background: var(--color__text-200);
  --divider__thickness: 2px;
  --divider__spacing: var(--spacing__xl);

  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  background: var(--divider__background);
  border-style: solid;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.hdivider {
  flex: 1 0 100%;
  display: block;
  width: auto;
  height: 2px;
  margin: var(--divider__spacing) 1.25em;
}

.vdivider {
  display: inline-block;
  height: auto;
  width: 2px;
}
