.hstack, .vstack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: stretch;
  align-items: stretch;
}

.vstack {
  flex-direction: column;
}

.hstack {
  flex-direction: row;
}
