.navbar {
  --navbar__spacing-x: var(--spacing__md);
  --navbar__spacing-y: var(--spacing__xs);
  --navbar__background: var(--color__background);
  --navbar__shadow: var(--shadow__level-3);

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: var(--navbar__spacing-y) var(--navbar__spacing-x);
  background: var(--navbar__background);

  & .navbar-logo {
    flex: 1 1 auto;

    & > img {
      object-fit: cover;
      width: min-content;
      height: 100%;
      margin-top: calc(0px - var(--navbar__spacing-y));
      transform: translate(0, var(--navbar__spacing-y) );
    }
  }

  & .navbar-toggle {
    position: relative;
    display: none;
    width: fit-content;

    & > input[type="checkbox"] {
      pointer-events: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 99999;
    }

    &:has(> input[type="checkbox"]:checked) ~ .navbar-body {
      grid-template-rows: 1fr;
      pointer-events: auto;
    }
  }

  & .navbar-body {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    transition-property: opacity, grid-template-rows;
    transition-duration: var(--transition__duration);
    transition-timing-function: var(--transition__easing);

    @media only screen and (max-width: 768px) {
      grid-template-rows: 0fr;
      width: 100%;
    }
  }

  .navbar-content {
    flex: 1 1 auto;
    display: flex;
    gap: 0.5rem;
    justify-self: flex-end;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: var(--navbar__background);
    z-index: var(--z-index__30);
  }

  & .navbar-item {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    padding: var(--navbar__spacing-y) var(--navbar__spacing-x);
  }

  @media only screen and (max-width: 768px) {
    & .navbar-toggle {
      display: block;
    }

    .navbar-content {
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
  }
}
