.button {
    --button__spacing-x: var(--spacing__md);
    --button__spacing-y: var(--spacing__xs);
    --button__text-color: var(--color__text-700);
    --button__background: transparent;
    --button__border-color: var(--color__primary-400);
    --button__roundness: var(--roundness);
    --button__thickness: var(--thickness);
    --button__shadow: var(--shadow);

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: auto;
    padding: var(--button__spacing-y) var(--button__spacing-x);
    color: var(--button__text-color);
    background: var(--button__background);
    border-color: var(--button__border-color);
    border-width: var(--button__thickness);
    border-style: solid;
    border-radius: var(--button__roundness);
    box-shadow: var(--button__shadow);
    cursor: pointer;
    transition-property: color, background, background-color, border-color, box-shadow;
    transition-duration: var(--transition__duration);
    transition-timing-function: var(--transition__easing);

    &:is(a), & > a {
        text-decoration: none;
        color: var(--button__text-color);
    }

    &:hover, &.\:hover {
        --button__text-color: var(--color__text-50);
        --button__background: var(--color__primary-400);
        --button__border-color: var(--color__primary-400);
    }

    &:focus, &.\:focus {
        --button__text-color: var(--color__text-50);
        --button__background: var(--color__primary-400);
        --button__border-color: var(--color__primary-400);

        outline: none;
    }

    &:active, &.\:active {
        --button__text-color: var(--color__text-50);
        --button__background: var(--color__primary-500);
        --button__border-color: var(--color__primary-500);
    }

    &:disabled, &.\:disabled {
        --button__text-color: var(--color__primary-100);
        --button__background: transparent;
        --button__border-color: var(--color__primary-100);

        cursor: not-allowed;
    }
}

.button.cta {
    --button__text-color: var(--color__text-50);
    --button__background: var(--color__primary-400);
    --button__border-color: transparent;

    &:hover, &.\:hover {
        --button__text-color: var(--color__text-50);
        --button__background: var(--color__primary-500);
        --button__border-color: var(--color__primary-500);
    }

    &:focus, &.\:focus {
        --button__text-color: var(--color__text-50);
        --button__background: var(--color__primary-500);
        --button__border-color: var(--color__primary-500);
    }

    &:active, &.\:active {
        --button__text-color: var(--color__text-50);
        --button__background: var(--color__primary-600);
        --button__border-color: var(--color__primary-600);
    }

    &:disabled, &.\:disabled {
        --button__text-color: var(--color__primary-50);
        --button__background: var(--color__primary-200);
        --button__border-color: var(--color__primary-200);
    }
}

.button.text {
    --button__text-color: var(--color__text-700);
    --button__background: trasparent;
    --button__border-color: transparent;
    --button__shadow: var(--shadow__none);

    &:hover, &.\:hover {
        --button__text-color: var(--color__text-700);
        --button__background: var(--color__grey-100);
        --button__border-color: var(--color__grey-100);
    }

    &:focus, &.\:focus {
        --button__text-color: var(--color__text-700);
        --button__background: var(--color__grey-100);
        --button__border-color: var(--color__grey-100);
    }

    &:active, &.\:active {
        --button__text-color: var(--color__text-700);
        --button__background: var(--color__grey-200);
        --button__border-color: var(--color__grey-200);
    }

    &:disabled, &.\:disabled {
        --button__text-color: var(--color__text-300);
        --button__background: transparent;
        --button__border-color: transparent;
    }
}
