.input {
  --input__spacing-x: var(--spacing__md);
  --input__spacing-y: var(--spacing__xs);
  --input__text-color: var(--color__text-700);
  --input__background: var(--color__background);
  --input__border-color: var(--color__text-200);
  --input__roundness: var(--roundness);
  --input__thickness: var(--thickness);
  --input__shadow: var(--shadow);

  box-sizing: border-box;
  position: relative;
  display: flex;
  min-width: 192px;
  max-width: fit-content;
  height: fit-content;
  color: var(--input__text-color);
  background: var(--input__background);
  border-color: var(--input__border-color);
  border-width: var(--input__thickness);
  border-style: solid;
  border-radius: var(--input__roundness);
  box-shadow: var(--input__shadow);
  transition-property: color, border-color;
  transition-duration: var(--transition__duration);
  transition-timing-function: var(--transition__easing);

  & > input {
    line-height: 1;
    box-sizing: border-box;
    position: relative;
    font-family: inherit;
    font-size: inherit;
    width: 0;
    min-width: 100%;
    margin: 0;
    padding: var(--input__spacing-y) var(--input__spacing-x);
    color: var(--input__text-color);
    background: transparent;
    border: none;

    &::-webkit-input-placeholder {
      font-family: inherit;
      font-weight: inherit;
      font-size: 100%;
      color: var(--color__text-400);
      transition-property: color;
      transition-duration: var(--transition__duration);
      transition-timing-function: var(--transition__easing);
    }
  }

  &:has(input:disabled), &.\:disabled {
    --input__text-color: var(--color__text-300);
    --input__background: var(--color__text-100);
    --input__border-color: var(--color__text-200);

    cursor: not-allowed;

    & > input {
      pointer-events: none;

      &::-webkit-input-placeholder {
        color: var(--color__text-300);
      }
    }
  }

  &:has(input:focus), &.\:focus {
    --input__border-color: var(--color__primary-400);

    & > label {
      color: var(--color__primary-400);
    }

    & > input {
      outline: none;
    }

    & > input::-webkit-input-placeholder {
      color: var(--color__text-500);
    }
  }

  &:has(input:invalid), &.\:invalid {
    --input__border-color: var(--color__negative-400);

    & > label {
      color: var(--color__negative-400);
    }
  }

  & > label {
    pointer-events: none;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: var(--input__spacing-x);
    height: 100%;
    color: var(--color__text-400);
    transition-property: font-size, padding, color, transform;
    transition-duration: var(--transition__duration);
    transition-timing-function: var(--transition__easing);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: var(--input__background);
      z-index: var(--z-index__-10);
    }
  }

  &:has(input:not(:placeholder-shown)) > label, &:has(input:focus) > label {
    font-size: 75%;
    height: auto;
    padding: 0 0.5em;
    transform: translate3d(0, -50%, 0);
    z-index: var(--z-index__10);
  }
}